/* 전체 선택자로 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8db6f7;
}

/* 수평 수직 중앙 위치 */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 10rem;
}

.lg-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

sm-text {
  font-size: 1.5rem;
}

#dynamic {
  position: relative;
  display: inline-block;
}

/* 가상 요소 => 커서 효과 */
#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

#dynamic.active::after {
  display: none;
}
