* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #ccc;
}

.keyboard {
  display: inline-block;
  padding: 20px 10px;
  background-color: #f5f3f1;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

.keyboard-wrapper {
  display: flex;
  background-color: #313131;
}

.key {
  width: 50px;
  height: 55px;
  margin: 2px;
  border: 7px solid;
  background-color: #f5f3f1;
  border-color: #dedede #c5c1bd;
  border-radius: 5px;
}

.keycap {
  width: 100%;
  height: 41px;
  font-size: 13px;
  line-height: 1;
  padding: 5px;
  background-color: #f5f3f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.key_ctrl {
  width: 100px;
  border-color: #9fcde7;
}

.key_ctrl .keycap {
  background-color: #a9dffd;
}

.pressed {
  transform: scale(0.95);
}
